* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.header {
    width: 100%;
    height: 10vh;
    background-color: #ff8fab;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: x-large;
    position: fixed;
    top: 0;
}

.header img {
    width: 4vw;
    height: auto;
}

.background {
    width: 100vw; 
    min-height: 90vh;
    background-image: url("../Images/Backgrounds/House.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10vh;
    overflow-x: hidden;
}

