/* Whole page settings */
* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.header {
    width: 100%;
    height: 10vh;
    background-color: #ff8fab;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: x-large;
    position: fixed;
    top: 0;
}

/* Style for the header images */
.header img {
    width: 4vw;
    height: auto;
}

/* Pink background */
.background{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(46, 46, 46, 0.671), rgba(46, 46, 46, 0.63)), url("../Images/Backgrounds/Farm.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Image with the main title */
.background > img {
    width: 65vw;
    height: auto;
}

/* Div with the options buttons */
.optionsBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Style for the list */
.options {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 28vw;
}

/* Div with the option itself */
.option { 
    background-color: #ff8fab;
    padding: 1vw;
    border-radius: 10px;
    display: flex;
    font-size: x-large;
}

/* Style to turn the link into the size of the button */
.option a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    height: 100%;
    text-decoration: none;
    cursor: pointer;
}

/* Style for the button image */
.options img {
    width: 5vw;
    height: auto;
}